* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

html {
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #eef7fc;
}

.contenedor>* {
    box-shadow: -1px 1px 7px 0px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #6dade2;
}

.imagen {
    height: 120%;
    width: 90%;
}

.navbar {
    grid-area: navbar;
    justify-content: space-between;
    display: flex;
    background-color: #D8D9DA;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.resalt {
    padding: 8px 12px;
    border-radius: 4px;
}

.resalt:hover {
    background-color: #85AEDD;
    transition: 0.7s;
}

.lista {
    font-size: 15px;
    padding: 2px;
}

.login {
    /*Administrador*/
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

.main {
    grid-area: main;
    background-color: #f5f5f5;
}

li {
    list-style: none;
}

#imagen {
    width: 30%;
    border: 1px solid #111;
    height: 380px;
    border-radius: 5px;
}

#agregar {
    background-color: #EBF5FB;
}

.primera {
    width: 40%;
    height: 350px;
    float: left;
    background-color: #85AEDD;
}

#Nombre-per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#Asig-per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#Cedula_per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#Tel_per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#Dirc_per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#Email_per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#Cargo_per {
    margin-left: -52px;
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
    width: 300px;
}

#actualizar {
    display: flex;
    margin-left: 5px;
    margin-top: 20px;
    background-color: #33b14e;
    border-radius: 5px;
    color: white;
}


/*Segunda columna*/

p {
    font-family: cursive;
    font-size: 30px;
}

.segunda {
    width: 40%;
    height: 350px;
    float: left;
    background-color: #85AEDD;
}

#pass_siep {
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
}

#pass_siep_new {
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
}

#pass_siep_new2 {
    padding: 10px 15px;
    border: 1px solid #111;
    border-radius: 2px;
}

#cambio-pass {
    margin-left: 5px;
    margin-top: 20px;
    background-color: #a72727;
    border-radius: 5px;
    color: white;
}

.pie {
    grid-area: pie;
    background-color: #8c96a0;
}

.contenedor {
    display: grid;
    gap: 4px;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: "header" "navbar" "main" "pie";
}