* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

html {
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #eef7fc;
}

.contenedor>* {
    box-shadow: -1px 1px 7px 0px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #6dade2;
}

.imagen {
    height: 120%;
    width: 90%;
}

.navbar {
    grid-area: navbar;
    justify-content: space-between;
    display: flex;
    background-color: #D8D9DA;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.resalt {
    padding: 8px 12px;
    border-radius: 4px;
}

.resalt:hover {
    background-color: #85AEDD;
    transition: 0.7s;
}

.lista {
    font-size: 15px;
    padding: 2px;
}

.login {
    /*Administrador*/
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

.main {
    grid-area: main;
    background-color: #f5f5f5;
}

.botones {
    display: flex;
    list-style: none;
}

.texto-boton {
    font-size: 15px;
    padding: 10px 15px;
    border-left: 1px solid grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#centrar {
    margin: 0 90px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 20px;
    border: 1px solid #111;
}

thead {
    background-color: #666969;
    border: 1px solid#111;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #6dade2;
    color: white;
}

#frecuent {
    border: 1px solid #111;
    position: relative;
    display: block;
    float: left;
    background-color: #85AEDD;
    margin: 10px 160px;
    width: 300px;
}

#f-cliente {
    border: 1px solid #111;
    position: relative;
    display: block;
    background-color: #ffffff;
    margin: 40px 120px;
    width: 480px;
    height: 100px;
}

#ult-cliente {
    border: 1px solid #111;
    border-radius: 5px;
    display: block;
    position: relative;
    float: left;
    text-align: left;
    background-color: #ffffff;
    margin: -30px 650px;
    width: 480px;
    height: 100px;
}

.pie {
    grid-area: pie;
    background-color: #8c96a0;
}

.contenedor {
    display: grid;
    gap: 4px;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: "header" "navbar" "main" "pie";
}