* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

html {
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #eef7fc;
}

.contenedor>* {
    box-shadow: -1px 1px 7px 0px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #85aedd;
}

.imagen {
    height: 120%;
    width: 90%;
}

.navbar {
    grid-area: navbar;
    justify-content: space-between;
    display: flex;
    background-color: #D8D9DA;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.resalt {
    padding: 8px 12px;
    border-radius: 4px;
}

.resalt:hover {
    background-color: #85AEDD;
    transition: 0.7s;
}

.lista {
    font-size: 15px;
    padding: 2px;
}

.login {
    /*Administrador*/
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

.main {
    grid-area: main;
    background-color: #f5f5f5;
}

.botones {
    display: flex;
    text-align: left;
    list-style: none;
}

.texto-boton {
    font-size: 15px;
    padding: 10px 15px;
    border-left: 1px solid grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tabla1 {
    width: 100%;
}

.tipos {
    list-style: none;
    background-color: rgb(199, 212, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-style: groove;
    width: 100%;
}

.no-link {
    text-decoration: none;
    color: black;
}


/* desde aqui esta el formulario dentro de TD (celda)*/

.td-formulario {
    width: 100%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#formulario {
    background-color: #85AEDD;
    border: 1px solid#111;
}

.primera {
    display: flex;
    justify-content: space-between;
}

#codigo_pro {
    width: 25%;
    border-radius: 5px;
}

#nom_pro {
    width: 55%;
    text-align: center;
    border-radius: 5px;
}

#cantidad_pro {
    border-radius: 5px;
    text-align: center;
}


/*Segunda div*/

.segunda {
    display: flex;
    justify-content: space-between;
}

#precio_pro {
    width: 25%;
    border-radius: 5px;
}

#descrip_pro {
    width: 55%;
    border-radius: 5px;
}

#categ_pro {
    border-radius: 5px;
    text-align: center;
}

.boton {
    background-color: #2a83a7;
    border: 1px solid #111;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 14px;
    text-decoration: none;
}

.pie {
    grid-area: pie;
    background-color: #8c96a0;
}

.contenedor {
    display: grid;
    gap: 4px;
    grid-template-columns: auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: "header" "navbar" "main" "pie";
}